<%- include('../partials/header') %>

<div class="card-body">
    <table id="list">
        <thead>
          <tr>
            <th>Artist</th>
            <th>Title</th>
            <th>Cover Art</th>
            <th>Release Year</th>
            <th>Catalog Number</th>
          </tr>
        </thead>
        <tbody>
          <% collection.records.forEach(function(a) { %>
            <tr>
              <td><%= a.artist %></td>
              <td><%= a.title %></td>
              <td><img src="<%= a.coverArt %>" height="75px" width="75px"></td>
              <td><%= a.releaseYear %></td>
              <td><%= a.catalogNumber %></td>
              <td><a href="/albums/<%= a._id %>">DETAILS</a></td>
            </tr>
            <% }); %>
          </tbody>
        </table>
</div>
<div class="card-body">
    <form id="new-form" action="/collection" method="POST">
        <label>Artist:</label>
        <input type="text" name="artist">
        <label>Title:</label>
        <input type="text" name="title">
        <label>Release Year</label>
        <input type="number" name="releaseYear">
        <label>Catalog Number:</label>
        <input type="text" name="catalogNumber">
        <label>Cover Art:</label>
        <input type="text" name="coverArt">
        <input type="submit" value="Add Album">
    </form>
</div>

<%- include('../partials/footer') %>