<%- include('../partials/header') %>

<div class="card-body">
    <form id="edit-form" action="/albums/<%= album._id %>?_method=PUT" method="POST">
        <label>Artist:</label>
        <input type="text" name="artist" value="<%= album.artist %>"><br>
        <label>Title:</label>
        <input type="text" name="title" value="<%= album.title %>" ><br>
        <label>Release Year:</label>
        <input type="number" name="releaseYear" value="<%= album.releaseYear %>"><br>
        <label>Catalog Number:</label>
        <input type="text" name="catalogNumber" value="<%= album.catalogNumber %>"><br>
        <label>Cover Art:</label>
        <input type="text" name="coverArt" value="<%= album.coverArt %>"><br>
        <input type="submit" value="Edit Album">
    </form>
</div>

<%- include('../partials/footer') %>